@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Business meetings</h1>
    <p class="lead">Somos una plataforma web que le permitirá a su empresa, llevar el control de sus reuniones y resolver asuntos de los clientes</p>
    
</div>
