
@{
    ViewBag.Title = "Administación de usuarios";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="jumbotron">
    <h1>Bienvenido al Área de Administación de Usuarios</h1>
    <p class="lead">Aquí podrás visualizar, crear, editar, modificar y eliminar usuarios del sistema..</p>
    @Html.ActionLink("Ir","Index", "Admin")
</div>
